<div class="container">
    <div class="row">
        <div class="col-md-3" style="margin-top: 50px; text-align: center;">
            <h4 class="border-bottom text-left">マイページ</h4>
              <table class="table table-borderless">
                <tr>
                  <th>会員情報変更</th>
                  <td><%= link_to "編集する", edit_public_customer_path(params[:id]) %></td>
                </tr>
                <tr>
                  <th>購入履歴</th>
                  <td><%= link_to "編集する", admin_order_history_path(params[:id]) %></td>
                </tr>
                <tr>
                  <th>お気に入り商品</th>
                  <!--<td><%#= link_to "編集する", admin_order_history_path(params[:id]) %></td>-->
                </tr>
                
        </div>
        <!--<div class=""></div>-->
    </div>
</div>

