<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
      <h2 class="border-bottom">本当に退会しますか?</h2>
    </div>
    <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
      <h4 class="border-bottom">
        <p>退会すると、会員登録情報や<br> これまでの購入履歴が閲覧できなくなります。<br> 退会する場合は、「退会する」をクリックしてください。</p>
      </h4>
    </div>
    <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
      <!--退会アクション-->
      <%= link_to "退会しない", customer_path(current_customer), class: "btn btn-danger" %>
        <%= link_to "退会する", withdrawl_customers_path, method: :patch, class: "btn btn-outline-danger %" %>
    </div>
  </div>
</div>