<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
      <h2 class="border-bottom">退会手続きが完了しました。</h2>
    </div>
    <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
        <small class="border-bottom">ご利用ありがとうございました。<br>また機会がございましたら、Machiokoshiをよろしくお願いします。<br>
        ※ご不明な点等ございましたら、恐れ入りますが下記ご連絡先までご連絡下さい。<br> ・メールでのご連絡 machiokoshi@●●●.com<br> ・電話でのご連絡 090-●●●●-●●●●
        <p></small>
    </div>
  </div>
</div>