<%- if controller_name != 'sessions' %>
 <button type="submit" class="btn btn-outline-danger">
  <%= link_to "戻る", new_session_path(resource_name) %></button><br />
<% end %>

<%#- if devise_mapping.registerable? && controller_name != 'registrations' %>
 <!--<button type="button" class="btn btn-outline-dark">-->
  <%#= link_to "新規登録", new_registration_path(resource_name) %>
  <!--</button><br />-->
<%# end %>

<!--削除内容はカリキュラムに記載されている-->