<%= render 'error', item: @item %>
  <div class="container">
    <div class="col-md-8 offset-md-2"> 
    <div class="shadow p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-md-12" style="text-align: left;">
          <h2 class="p-3 mb-2 bg-dark text-white">商品編集</h2>
         <%= render 'form', item: @item %>
          </form>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>