<div>
  <select name="category">
  <option value="" selected>食材から探す</option>
  <option value="野菜">野菜</option>
  <option value="果物">果物</option>
  <option value="お米">お米</option>
  <option value="お魚">お魚</option>
  <option value="お肉">お肉</option>
  <option value="その他">その他</option>
</div>