 <div id="header_middle">
    <div class="header_inner_">
      <ul id="globalnav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="fas fa-utensils">食材で探す</i></a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-tractor">農家さんで探す</i></a>
          </li>
        </ul>
      </ul>
    </div>
 </div>