 <div id="header_middle">
    <div class="header_inner_">
      <ul id="globalnav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">食材で探す</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">農家さんで探す</a>
          </li>
        </ul>
      </ul>
    </div>
 </div>