<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
      <h1 class="border-bottom"><i class="bi bi-brightness-high" style="color:orange;">
      </i> ABOUT US <i class="bi bi-brightness-high" style="color:orange;"></i></h1>
    </div>
    <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; "> 
     食材を通して埋もれた日本食の魅力を全国に発信することを目的に生まれたECサイトです。<br>
       特定の地域でしか食べることのできない特産品を皆様のもとへお届けします。<br>
     地方の魅力を最大限に発信し、そして埋もれた日本の魅力を知るきっかけになれば幸いです。<br>
    </div>
    <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
      <small>私たちはまだ食べられるのに捨てられてしまう食べ物や<br>規格外の食材で発生する食品ロス削減を中心に
      地方の持続可能な発展を図りたい。<br>
      食べ物を捨ててしまうのは「もったいない」だけでなく<br>
      今、これからの未来に向けて、食品ロスを減らすためのさまざまな取り組みを行っていきます。</small>
    </div>
  </div>
</div>