<div class="container">
    <div class="row">
        <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
            
            <h1 class="border-bottom"><i class="bi bi-brightness-high" style="color:orange;"></i>
                About us
            <i class="bi bi-brightness-high" style="color:orange;"></i></h1>
            
        </div>
        <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
            食材を通して埋もれた日本食の魅力を全国に発信することを目的に生まれたECサイトです。<br>
        特定の地域でしか食べることのできない特産品を皆様のもとへお届けします。<br>
        地方の魅力を最大限に発信し、そして埋もれた日本の魅力を知るきっかけになれば幸いです。<br>
        
        <strong>もう少し食品ロスや地方の現状を掘り下げて記載する</strong>
        </div>
    </div>
</div>