<h1>会員情報一覧画面</h1>
 <table class="table">
    <thead>
      <tr class="table">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
          <th colspan="5"></th>
      </tr>
    </thead>
      <% @customers.each do |customer| %><%# @publics = Public.allですべてのPublicユーザーの情報を取得して、順番に並べて表示 %>
    <tbody>
      <tr>
      <td><%= customer.id %></td>

      <td>
        <%# A+Bと表記して、二つの表示をくっつけてABと表示できます。%>
        <%= link_to customer.last_name+customer.first_name, admin_customer_path(customer.id) %>
      </td>

      <td><%= customer.email %></td>

      <td>
        <% if customer.is_deleted %><%# is_deletedの情報を取得して退会済みかチェック %>
          <b class="text-secondary">退会</b>  <%# true(退会済み)の時の表示 %>
        <% else %>
          <b class="text-success">有効</b>  <%# false(初期値)の時の表示 %>
        <% end %>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table>

