<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
      <h1 class="border-bottom">ご注文が完了しました！</h1>
          <p>ご注文ありがとうございます。<br>
             ご不明な点等ございましたら、恐れ入りますが下記ご連絡先までご連絡下さい。<br>
             ・メールでのご連絡   machiokoshi@●●●.com<br>
             ・電話でのご連絡     090-●●●●-●●●●
          </p>
    </div>
  </div>
   <div class="row">
     <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
        食材を通して埋もれた日本食の魅力を全国に発信することを目的に生まれたECサイトです。<br>
        特定の地域でしか食べることのできない特産品を皆様のもとへお届けします。<br>
        地方の魅力を最大限に発信し、そして埋もれた日本の魅力を知るきっかけになれば幸いです。
     </div>
     <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
        <%= link_to "About us", about_path, class: "btn btn-outline-danger" %>
     </div>
   </div>
</div>



