<header class="header_a">
  <div class="logo">Machiokoshi</div>
  
    <nav>
      <ul>
        <% if customer_signed_in? %>
          <li><a href="/">Home</a></li>
          <li><a href="/public/homes/about">About</a></li>
          <li><a href="/public/customers/:id">My Page</a></li>
          <li><a href="/public/cart_items">Cart</a></li>
          <li><a href="">Log Out</a></li>
        <% else %>
          <li><a href="/">Home</a></li>
          <li><a href="/public/homes/about">About</a></li>
          <li><a href="/public/cart_items">Cart</a></li>
          <li><a href="/customers/sign_in">Log In</a></li>
      </ul>
      <% end %>
    </nav>
</header>