<header class="header_a">
  <div class="logo">Machiokoshi</div>
  
    <nav>
      <ul>
        <% if customer_signed_in? %>
          <li><a href="/">Home</a></li>
          <li><a href="/public/homes/about">About usssss</a></li>
          <li><a href="/customers/:id">My Page</a></li>
          <li><a href="/cart_items">Cart</a></li>
          <li><%= link_to "Logout", destroy_customer_session_path, method: :delete %></li>
        <% else %>
          <li><a href="/">Home</a></li>
          <li><a href="/public/homes/about">About usssss</a></li>
          <li><a href="/cart_items">Cart</a></li>
          <li><a href="/customers/sign_in">Log in</a></li>
      </ul>
      <% end %>
    </nav>
</header>